  <div class="container" id="footer">
      <div class="row" style="height: 100%;">
        <div class="col-2" style="height: 100%;">
          <p class="copyright" style="margin-top: 160px;">Copyright &copy; 2020</p>
        </div>
        <div class="col-7" style="height: 100%;"></div>
        <div class="col-3" style="height: 100%;">
          <table class="table table-sm" style="margin-top: 160px;color: #ffffff;">
            <tr>
              <th>Pri. POC</th>
              <td>Cameron King</td>
            </tr>
            <tr>
              <th>Alt. POC</th>
              <td>Ben Spellmann</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>