  <div class="container" id="footer">
      <div class="row" style="height: 100%;">
        <div class="col" style="height: 100%;">
          <p class="copyright">Copyright &copy; 2020</p>
        </div>
      </div>
    </div>
  </body>
</html>