    <div class="container">
      <div class="row" style="height: 100%;" id="footer">
        <div class="col-2" style="height: 100%;">
          <p class="copyright" style="margin-top: 160px;">Copyright &copy; 2020</p>
        </div>
        <div class="col-7" style="height: 100%;"></div>
        <div class="col-3" style="height: 100%;">
        </div>
      </div>
    </div>
    <span style="display:none;" id="TITLE"><%= title %></span>
    <script>
      $('document').ready(
        function titleURL(){
          var pageTitle = $('#TITLE').text();
          var url = "";
          if(pageTitle == "Home"){$('#HOME span.bracketL').css({ marginRight : "1px", color : "black"});$('#HOME span.bracketR').css({ marginLeft : "1px", color : "black"});}
          else if(pageTitle == "Profile"){$('#PROFILE span.bracketL').css({ marginRight : "1px", color : "black"});$('#PROFILE span.bracketR').css({ marginLeft : "1px", color : "black"});}
          else if(pageTitle == "Schedule"){$('#SCHEDULE span.bracketL').css({ marginRight : "1px", color : "black"});$('#SCHEDULE span.bracketR').css({ marginLeft : "1px", color : "black"});}
          else if(pageTitle == "Transcript"){$('#TRANSCRIPT span.bracketL').css({ marginRight : "1px", color : "black"});$('#TRANSCRIPT span.bracketR').css({ marginLeft : "1px", color : "black"});}
          else if(pageTitle == "Administration"){$('#ADMIN span.bracketL').css({ marginRight : "1px", color : "black"});$('#ADMIN span.bracketR').css({ marginLeft : "1px", color : "black"});}
          else if(pageTitle == "Login"){document.getElementById("inputPassword1").focus();$('#HOME span.bracketL').css({ marginRight : "1px", color : "black"});$('#HOME span.bracketR').css({ marginLeft : "1px", color : "black"});}
        }
      );
    </script>

    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98083353-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-98083353-7');
    </script>
  </body>
</html>