<!DOCTYPE html>
<html>
    <head>
        <title><%= title ? title : "University of Scouting" %></title>
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="container" id="header" style="padding-bottom: 10px;">
            <div class="row">
                <div class="col-1 justify-content-start">
                    <a href="/">
                        <img class="Icon" id="Icon" src="images/LHC_UoS_Logo_drop_banner.png">
                    </a>
                </div>
                <div class="col-11">
                    <a href="/" class="title"><h1 class="title">University of Scouting</a> ► <span id="titleURL"><%= title ? title : "" %></span></h1><br/>
                    <% if (!user) { %>
                    <a href="/login"><btn class="btn btn-sm nav-btn-1">Login</btn></a>
                    <% } else { %>
                    <a href="/"><btn class="btn btn-sm nav-btn-1">Home</btn></a>
                    <a href="/profile"><btn class="btn btn-sm nav-btn-1">Profile</btn></a>
                    <a href="/transcript"><btn class="btn btn-sm nav-btn-1">Transcript</btn></a>
                    <a href="/logout"><btn class="btn btn-sm nav-btn-2">Logout</btn></a>
                    <% } %>
                </div>
            </div>
        </div>