<!DOCTYPE html>
<html>
    <head>
        <title>University of Scouting</title>
        <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- Enable jquery features -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container" id="header" style="background-color: #D6CEBD;">
            <div class="row">
                <div class="col-2 justify-content-start">
                    <a href="/">
                        <img class="Icon noprint" id="Icon" src="images/LHC_UoS_Logo_Pocket_Design_v1.png">
                    </a>
                </div>
                <div class="col-8 text-center">
                    <div class="title noprint">
                        <a href="/" id="UoStitle">University of Scouting</a>
                    </div>
                    <br/>
                    <div class="row" id="navBar" style="margin: 0 auto;">
                            <div class="col text-center" style="min-width: 110px;">
                                <a href="/" id="HOME">
                                    <span class="bracketL">
                                        [
                                    </span>
                                    Home
                                    <span class="bracketR">
                                        ]
                                    </span>
                                </a>
                            </div>
                            <% if (user) { %>
                            <div class="col text-center" style="min-width: 110px;">
                                <a href="/profile" id="PROFILE">
                                    <span class="bracketL">
                                        [
                                    </span>
                                    Profile
                                    <span class="bracketR">
                                        ]
                                    </span>
                                </a>
                            </div>
                            <div class="col text-center" style="min-width: 140px;">
                                <a href="/schedule" id="SCHEDULE">
                                    <span class="bracketL">
                                        [
                                    </span>
                                    Schedule
                                    <span class="bracketR">
                                        ]
                                    </span>
                                </a>
                            </div>
                            <div class="col text-center" style="min-width: 120px;" id="TRANSCRIPT">
                                <a href="/transcript">
                                    <span class="bracketL">
                                        [
                                    </span>
                                    Transcript
                                    <span class="bracketR">
                                        ]
                                    </span>
                                </a>
                            </div>
                            <% if(user){if(user.access == "1000"){ %>
                            <div class="col text-center" style="min-width: 170px;" id="ADMIN">
                                <a href="/searchMembers">
                                    <span class="bracketL">
                                        [
                                    </span>
                                    <span class="linkText">
                                    Administration
                                    </span>
                                    <span class="bracketR">
                                        ]
                                    </span>
                                </a>
                            </div>
                            <% } }%>
                            <% } %>
                    </div>
                </div>
                <div class="col-2" style="padding-top: 90px;">
                    <% if (user) { %>
                        <a href="/logout"><btn class="btn btn-sm nav-btn-2 noprint">Logout</btn></a>
                    <% } else { %>
                        <a href="/login"><btn class="btn btn-sm nav-btn-1">Login</btn></a>
                    <% } %>
                </div>
            </div>
            <div class="row">
                <div class="col" style="height: 20px; background-image: linear-gradient(#D6CEBD, #ffffff);"> <!-- Gradient edge --> </div>
            </div>
        </div>