<html>
  <header>
    <title>Print to PDF Guide</title>
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png">
    <style>
      .content { width:600px;margin:0 auto;padding-top: 10px; font-size: 90%;}
      .content i { font-weight: bold;} .content h1 { text-align: center; text-decoration: underline;}
    </style>
  </header>
  <body>
    <div class="container main-body">
      <div class="row">
        <div class="col"></div>
        <div class="col-6 content">
          <h1>Print to PDF Guide</h1>
          <h2><i>Chrome</i></h2>
          <strong>Step 1:</strong> Press <i>Ctrl</i> + <i>P</i>. Alternatively, Click the three-dot icon in the top right corner and choose <i>Print</i>… in the drop-down menu.<br/>
          <strong>Step 2:</strong> In the resulting pop-up window, click the down arrow to the right of Destination and select <i>Save as PDF</i> in the drop-down menu. You’ll see a preview generated in the left pane, as shown above.<br/>
          <strong>Step 3:</strong> click the <i>Save</i> button and select a destination on your PC. Click a second <i>Save</i> button to complete.
          <hr/><h2><i>Microsoft Edge</i></h2>
          <strong>Step 1:</strong> press <i>Ctrl + P</i>. Alternatively, click the three-dot icon in the top right corner and choose Print in the drop-down menu.<br/>
          <strong>Step 2:</strong> In the following pop-up window, click the down arrow displayed under Printer and select the <i>Microsoft Print to PDF</i> option.<br/>
          <strong>Step 3:</strong> Click the <i>Print</i> button and select a destination on your PC. Click a second <i>Save</i> button to complete.<br/>
          <strong>Note:</strong> Microsoft Edge has a Windows 10-themed sidebar that pops open when you choose to print. Older browsers, like Internet Explorer, will use a more traditional printer window. The options and steps should remain the same despite the “classic” appearance.
          <hr/><h2><i>Safari</i></h2>
          <strong>Step 1:</strong> With Safari active, click <i>File</i> on the menu bar and choose the <i>Export as PDF</i>… option on the drop-down menu.<br/>
          <strong>Step 2:</strong> On the following pop-up window, enter a <i>filename</i>, select a <i>destination</i>, and click the <i>Save</i> button to complete.
          <hr/><h2><i>FireFox</i></h2>
          <strong>Note:</strong> Out of the four popular desktop browsers, Firefox is the only one that doesn’t include a built-in PDF printer. Instead, it relies on the <i>Microsoft Print to PDF</i> function in Windows 10.<br/>
          <strong>Step 1:</strong> <i>Ctrl</i> + <i>P</i> to open the print menu.  Alternatively, click the “hamburger” icon <img src="https://image.flaticon.com/icons/svg/2099/2099153.svg" style="width:10px; height:10px;"/> located in the top right corner and select <i>Print</i>… in the drop-down menu. In the following window, click the <i>Print</i> button in the top left corner.<br/>
          <strong>Step 2:</strong> Select <i>Microsoft Print to PDF</i> from the printer options and click the <i>Print</i> button when ready.<br/>
          <strong>Step 3:</strong> Choose a <i>name</i> and <i>save location</i> and then click the <i>Save</i> button.
        </div>
        <div class="col">
        </div>
      </div>
    </div>
  </body>
</html>
