<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (!user) { %>
    <p><a href="/login">login</a></p>
    <% } else { %>
    <p><a href="/logout">logout</a></p>
    <% } %>
    <p>Welcome to <%= title %> <%= user ? user.username : "" %></p>
  </body>
</html>
