
<%- include header %>
<div class="container main-body">
  <div class="row">
    <div class="col-6" style="text-align: center;">
      <h5><br/>Welcome to the Home page of the University of Scouting!<br/>Please login to access additional features.</h5>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      
    </div>
    <div class="col-3">
      
    </div>
  </div>
</div>
<%- include footer %>
