<%- include header %>
  <div class="container main-body">
    <div class="row">
      <div class="col-12">
        <br/><br/><br/>
        <form action="/login" method="post">
          <div class="form-group row">
            <label for="inputUsername1" class="col-sm-1 col-form-label">Username</label>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="inputUsername1" name="username" placeholder="Username">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword1" class="col-sm-1 col-form-label">Password</label>
            <div class="col-sm-3">
              <input type="password" class="form-control" id="inputPassword1" name="password" placeholder="Password">
            </div>
          </div>
          <div>
              <input type="submit" value="Log In" class="btn btn-sm btn-1"/>
          </div>
        </form>
      </div>
    </div>
  </div>
<%- include footer %>
