<%- include header %>
  <div class="container main-body">
    <div class="row justify-content-md-center">
      <div class="col-3 text-center">
        <form action="/login" method="post">
          <div class="form-group row">
            <div class="col">
              <input type="text" class="form-control" id="inputPassword1" tabindex="1" name="password" placeholder="Last Name (eg. Smith)">
            </div>
          </div>
          <div class="form-group row">
            <div class="col">
              <input type="text" class="form-control" id="inputUsername1" tabindex="2" name="username" placeholder="Member ID (eg. 12345678)">
            </div>
          </div>
          <div>
              <input type="submit" value="Log In" class="btn btn-sm nav-btn-1" tabindex="3"/>
          </div>
        </form>
    </div>


    <div class="row justify-content-md-center">
      <div class="col-6 text-center">
        <p>&nbsp;</p>
        <p>
          When logging in, capitalization matters.  Enter your last name as 
          it appears in your BSA/profile.  ("Smith", not "smith").  Your BSA
          Member ID appears on your BSA Membership Card, in <a href="http://my.scouting.org">my.scouting.org</a>,
          and your <a href="http://www.scoutbook.org">Scoutbook</a> profile.
        </p>
      </div>
    </div>
  </div>
<%- include footer %>
