<html>
  <header>
    <title>Member Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Enable jquery features -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body{ font-family: sans-serif !important;}
      h1{ font-family: adelle, serif !important;}
      .btn + .disabled { cursor: not-allowed;}
      tr th, tr td, td input{ text-align: center;}
      tr th, tr td{ width: 20%;}
      td button { width: 50px;}
      .printBtn{ margin:10px auto 0px auto;display: flex; font-weight: bold;}
      .loader { border: 8px solid #a4a7a8; border-radius: 50%; border-top: 8px solid #CE1126; width: 30px; height: 30px; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; margin: 0px auto 0px 0px;}
      .loader2 { margin: 0px auto; border: 18px solid #a4a7a8; border-top: 18px solid #CE1126; width: 120px; height: 120px;}
      @-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
      @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}
      @media print {
        .NoPrint{ display: none;}
        .header{ margin-top: 20px;}
      }
    </style>
  </header>
  <body>
    <button class="btn btn-warning printBtn NoPrint" onclick="print()">Print</button></span>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header text-center">
            <h1>University of Scouting Transcript</h1>
            <h4><span id="name"></span></h4>
            ID: <span id="userID"></span> | Council: <span id="councilID"></span> | <span id="rowCount"></span> Records
          </div>
          <table class="mx-auto table table-sm">
            <thead>
              <tr>
                <th>Course Date</th>
                <th>Course Title</th>
                <th>Credits</th>
                <th>Status</th>
                <!--<th>Options</th>-->
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
          <div class="loader loader2"></div>
        </div>
      </div>
    </div>
  </body>
  <script>
    //-----------------------------------------------------------------------------------------//
    function printTranscript() {
      var win = window.open('/transcriptPrint', '', 'height=800, width=1000'); 
      win.document.close(); 
      win.print(); 
    }
    //-----------------------------------------------------------------------------------------//
    $("document").ready(function(){
      var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1), sURLVariables = sPageURL.split('&'), sParameterName, i;
      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
        }
      };
      var id = getUrlParameter('id');
      getSchedule(id);
    });
    // -----------------------------------------------------------------------------------------//
    function getSchedule(id){
      $(".loader").css("visibility","initial");
      $.ajax({
        dataType: 'json',
        url: '/api/members/'+id,
        data: {},
        success: function(userdata) {
          $('#userID').html(userdata.memberID);
          $('#councilID').html(userdata.councilName);
          $('#name').text(userdata.firstName+' '+userdata.lastName);
          $.ajax({
            dataType: "json",
            url: "/api/members/"+id+"/registrations",
            data: {},
            success:  function(data){
              if(data.length > 0){
                $("#tbody").html("");
                $("#rowCount").html(data.length);
                for(var i = 0; i < data.length; i++){
                  if(data[i].credits == undefined){data[i].credits = '-';}
                  var confBtn = '<button class="btn btn-sm btn-warning" style="display:none;width:auto;" id="Conf'+i+'" onClick="confDelTranscriptRecord('+i+')">Conf</button>';
                  var delBtn = '<button class="btn btn-sm btn-danger disabled" id="Del'+i+'" onClick="delTranscriptRecord('+i+')" disabled>Del</button>';
                  var editBtn = '<button class="btn btn-sm btn-primary" id="Edit'+i+'" onClick="enableEdit('+i+')">Edit</button>';
                  var saveBtn = '<button class="btn btn-sm btn-success" style="display:none;" id="Save'+i+'" onClick="saveTranscriptRecord('+i+')">Save</button>';
                  var undoBtn = '<button class="btn btn-sm btn-primary" style="display:none;" id="Undo'+i+'" onClick="backTranscriptRecord('+i+')">Back</button>';
                  $("#tbody").append('<tr id="row'+i+'"><td id="DATE'+i+'" date-data="'+data[i].dateMDYHM+'">'+data[i].dateMDYHM+'</td><td id="TITLE'+i+'">'+data[i].title+'</td><td id="CREDITS'+i+'">'+data[i].credits+'</td><td id="STATUS'+i+'">'+data[i].statusName+'</td></tr>');//<td style="width:16%;">'+saveBtn+editBtn+delBtn+confBtn+undoBtn+'</td></tr>');
                }
                $(".loader").css("visibility","hidden");
              }else{
                $("#rowCount").html(data.length);
                $("#tbody").append('<tr><td colspan="4"><h4 style="color:#CE1126;text-align:center;"><strong>'+data.length+' records returned for member ID '+userdata.memberID+'</strong></h4></td></tr>');
                $(".loader").css("visibility","hidden");
              }
            }
          });
        }
      });
    }
    // -----------------------------------------------------------------------------------------//
    function enableEdit(i){
      $('#DATE'+i).html('<input id="inputDate'+i+'" type="date" value="'+$('#DATE'+i).attr('date-data')+'"/>');
      $('#TITLE'+i).html('<input id="inputTitle'+i+'" type="text" value="'+$('#TITLE'+i).text()+'"/>');
      $('#CREDITS'+i).html('<input id="inputCredits'+i+'" type="number" value="'+$('#CREDITS'+i).text()+'"/>');
      $('#STATUS'+i).html('<input id="inputStatus'+i+'" list="statusOptions" value="'+$('#STATUS'+i).text()+'"/>');
      $('#Edit'+i).css('display', 'none');
      $('#Save'+i).css('display', 'initial');
      $('#Del'+i).removeClass('disabled').attr("disabled", false);
      $('#row'+i).css('background-color', 'rgba(255, 192, 56, 0.815)');
    }
    // -----------------------------------------------------------------------------------------//
    function saveTranscriptRecord(i){
      var date = $('#inputDate'+i).val();
      var todayTime = new Date(date);
      var month = todayTime.getMonth() + 1;
      var day = todayTime.getDate();
      var year = todayTime.getFullYear();
      var DATE = month + "/" + day + "/" + year;
      $('#DATE'+i).html(DATE);
      $('#TITLE'+i).html($('#inputTitle'+i).val());
      var CREDITS = $('#inputCredits'+i).val();
      if(CREDITS == ""){CREDITS = "-"}
      $('#CREDITS'+i).html(CREDITS);
      $('#STATUS'+i).html($('#inputStatus'+i).val());
      $('#Edit'+i).show();
      $('#Save'+i).hide();
      $('#Del'+i).addClass('disabled').attr("disabled", true);
      $('#row'+i).css('background-color', '#48ca53ea');
      setTimeout(function(){$('#row'+i).css('background-color', '');}, 2000);
    }
    // -----------------------------------------------------------------------------------------//
    function delTranscriptRecord(i){
      $('#row'+i).css('background-color', 'red');
      $('#Conf'+i).show();
      $('#Undo'+i).show();
      $('#Del'+i).hide();
      $('#Save'+i).hide();
    }
    // -----------------------------------------------------------------------------------------//
    function confDelTranscriptRecord(i){
      $('#row'+i).toggle(function(){$(this).animate({ color: "#FF0000" }, 1000);});
    }
    // -----------------------------------------------------------------------------------------//
    function backTranscriptRecord(i){
      $('#Conf'+i).hide();
      $('#Undo'+i).hide();
      $('#Save'+i).show();
      $('#Del'+i).show();
      $('#row'+i).css('background-color', 'rgba(255, 192, 56, 0.815)');
    }
  </script>
</html>