<html>
  <header>
    <title>Member Schedule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Enable jquery features -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body{ font-family: sans-serif !important;}
      h1{ font-family: adelle, serif !important;}
      .btn + .disabled { cursor: not-allowed;}
      .header{margin-top: 20px;}
      tr th, tr td, td input{text-align: center;}
      td input{display: inline !important;}
      td button { width: 50px;}
      .printBtn{ margin:10px auto 0px auto;display: flex; font-weight: bold;}
      .loader{border:8px solid #a4a7a8;border-radius:50%;border-top:8px solid #ce1126;width:30px;height:30px;-webkit-animation:spin 2s linear infinite;animation:spin 2s linear infinite;margin:0 auto 0 0}
      .loader2{margin:0 auto;border:18px solid #a4a7a8;border-top:18px solid #ce1126;width:120px;height:120px}
      @-webkit-keyframes spin{0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}
      @keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
      @media print {
        .NoPrint{ display: none;}
        .header{ margin-top: 20px;}
      }
    </style>
  </header>
  <body>
    <button class="btn btn-warning printBtn NoPrint" onclick="print()">Print</button></span>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header text-center">
            <h1>University of Scouting Schedule</h1>
            <h4><span id="name"></span></h4>
            ID: <span id="userID"></span> | Council: <span id="councilID"></span> | <span id="rowCount"></span> Records
          </div>
          <table class="mx-auto table table-sm">
            <thead>
              <tr>
                <th>Course Date & Time</th>
                <th>Course Title</th>
                <th>Course Instructor</th>
                <th>Course Location</th>
                <th>On-line Delivery</th>
                <!--<th>Options</th>-->
              </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
          </table>
          <div class="loader loader2"></div>
        </div>
      </div>
    </div>
  </body>
  <script>
    $("document").ready(function(){
      var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = window.location.search.substring(1), sURLVariables = sPageURL.split('&'), sParameterName, i;
      for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] === sParam) {
              return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
        }
      };
      var id = getUrlParameter('id');
      getSchedule(id);
    });
    function getSchedule(id){
      $("#tbody").hide();
      $(".loader").fadeIn();
      $.ajax({
        dataType: 'json',
        url: '/api/members/'+id,
        data: {},
        success: function(userdata) {
          
          $('#userID').html(userdata.memberID);
          $('#councilID').html(userdata.councilName);
          $('#name').text(userdata.firstName+' '+userdata.lastName);

          $.ajax({
            dataType: "json",
            url: "/api/members/"+id+"/registrations",
            data: {},
            success:  function(data){
              if(data.length > 0){
                $("#tbody").html("");
                $("#rowCount").html(data.length);
                for(var i = 0; i < data.length; i++){
                  var confBtn = '<button class="btn btn-sm btn-warning" style="display:none;width:auto;" id="confBtn'+i+'" onClick="confDelScheduleRecord('+i+')">Conf</button>';
                  var delBtn = '<button class="btn btn-sm btn-danger disabled" id="delBtn'+i+'" onClick="delScheduleRecord('+i+')" disabled>Del</button>';
                  var editBtn = '<button class="btn btn-sm btn-primary" id="editBtn'+i+'" onClick="editScheduleRecord('+i+')">Edit</button>';
                  var saveBtn = '<button class="btn btn-sm btn-success" style="display:none;" id="saveBtn'+i+'" onClick="saveScheduleRecord('+i+')">Save</button>';
                  var undoBtn = '<button class="btn btn-sm btn-primary" style="display:none;" id="undoBtn'+i+'" onClick="backScheduleRecord('+i+')">Back</button>';
                  $("#tbody").append('<tr id="row'+i+'"><td id="DATE'+i+'" date-data="'+data[i].date+'">'+data[i].dateMDYHM+'</td><td id="COURSE'+i+'">'+data[i].title+'</td><td id="INSTRUCTOR'+i+'">'+data[i].instructor+'</td><td id="LOCATION'+i+'">'+data[i].physical+'</td><td id="DELIVERY'+i+'">'+data[i].online+'</td></tr>');//<td style="width:115px;">'+saveBtn+editBtn+delBtn+confBtn+undoBtn+'</td></tr>');
                }
                $(".loader").fadeOut(function(){$("#tbody").fadeIn()});
              }else{
                $("#rowCount").html(data.length);
                $("#tbody").append('<tr><td colspan="6"><h4 style="color:#CE1126;text-align:center;"><strong>'+data.length+' records returned for member ID '+userdata.memberID+'</strong></h4></td></tr>');
                $(".loader").fadeOut(function(){$("#tbody").fadeIn()});
              }
            }
          });

        }
      });
    }
    //--------------------------------------------------------------//
    function  editScheduleRecord(i){
      $('#DATE'+i).html('<input id="inputDate'+i+'" type="date" value="'+$('#DATE'+i).attr('date-data')+'"/><input id="inputTime'+i+'" type="time" value="'+$('#DATE'+i).attr('time-data')+'"/>');
      $('#COURSE'+i).html('<input id="inputTitle'+i+'" type="text" value="'+$('#COURSE'+i).text()+'"/>');
      $('#INSTRUCTOR'+i).html('<input id="inputInstructor'+i+'" type="text" value="'+$('#INSTRUCTOR'+i).text()+'"/>');
      $('#LOCATION'+i).html('<input id="inputLocation'+i+'" type="text" value="'+$('#LOCATION'+i).text()+'"/>');
      $('#DELIVERY'+i).html('<input id="inputDelivery'+i+'" type="text" value="'+$('#DELIVERY'+i).text()+'"/>');
      $('#editBtn'+i).hide();
      $('#saveBtn'+i).show();
      $('#delBtn'+i).removeClass('disabled').attr('disabled', false);
      $('#row'+i).css('background-color', 'rgba(255, 192, 56, 0.815)');
    }
    //--------------------------------------------------------------//
    function  saveScheduleRecord(i){
      var date = $('#inputDate'+i).val();
      var time = $('#inputTime'+i).val();
      $('#DATE'+i).attr('date-data', date);
      $('#DATE'+i).attr('time-data', time);
      $('#DATE'+i).html(date+' '+time);
      $('#COURSE'+i).html($('#inputTitle'+i).val());
      $('#INSTRUCTOR'+i).html($('#inputInstructor'+i).val());
      $('#LOCATION'+i).html($('#inputLocation'+i).val());
      $('#DELIVERY'+i).html($('#inputDelivery'+i).val());
      $('#editBtn'+i).show();
      $('#saveBtn'+i).hide();
      $('#delBtn'+i).addClass('disabled').attr('disabled', true);
      $('#row'+i).css('background-color', '#48ca53ea');
      setTimeout(function(){$('#row'+i).css('background-color', '');}, 2000);
    }
    //--------------------------------------------------------------//
    function  delScheduleRecord(i){
      $('#row'+i).css('background-color', 'red');
      $('#confBtn'+i).show();
      $('#undoBtn'+i).show();
      $('#delBtn'+i).hide();
      $('#saveBtn'+i).hide();
    }
    //--------------------------------------------------------------//
    function confDelScheduleRecord(i){
      $('#row'+i).toggle(function(){$(this).animate({ color: "#FF0000" }, 1000);});
    }
    //--------------------------------------------------------------//
    function backScheduleRecord(i){
      $('#confBtn'+i).hide();
      $('#undoBtn'+i).hide();
      $('#saveBtn'+i).show();
      $('#delBtn'+i).show();
      $('#row'+i).css('background-color', 'rgba(255, 192, 56, 0.815)');
    }
  </script>
</html>