<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %>'s Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Profile</h1>
    <p>Username: <%= user.username %></p>
  </body>
</html>
