<%- include header %>
  <div class="container main-body">
    <div class="row">
      <div class="col-12">
        <p><strong>User: <%= user.username %></strong></p>
      </div>
    </div>
  </div>
<%- include footer %>
