<%- include header %>
  <div class="container main-body">
    <div class="row">
      <div class="col">
        <table class="mx-auto table table-sm text-center" style="margin-bottom: 0px;">
          <tr>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberIDs" aria-describedby="Search" placeholder=" Filter by ID">
            </td>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberFNames" aria-describedby="Search" placeholder=" Filter by First Name">
            </td>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberLNames" aria-describedby="Search" placeholder=" Filter by Last Name">
            </td>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberCouncils" aria-describedby="Search" placeholder=" Filter by Council">
            </td>
            <td class="font-weight-bold align-middle"><span id="rowCount"></span> Members Found </td>
          </tr>
        </table>
        <table id="Members" class="mx-auto table table-hover table-sm text-center sortable">
          <thead class="thead-dark">
            <tr>
              <th>Member ID</th><th>First Name</th><th>Last Name</th><th>Council</th><th class="sorttable_nosort">Records</th>
            </tr>
          </thead>
          <tbody id="MembersTbody">
          </tbody>
        </table>
        <div class="loader loader2"></div>
      </div>
    </div>
  </div>
  <script>
    $("document").ready(function(){
      GETMemberID();
    });
    //------------------------------------//
    function GETMemberID(){
      $(".loader").css("visibility","initial");
      $.ajax({
        dataType: "json",
        url: "/api/members",
        data: {},
        success:  function(data){
          if(data.length > 0){
            $("#MembersTbody").html("");
            $("#rowCount").html(data.length);
            for(var i = 0; i < data.length; i++){
              $("#MembersTbody").append("<tr><td>"+data[i].memberID+"</td><td>"+data[i].firstName+"</td><td>"+data[i].lastName+"</td><td>"+data[i].council+'</td><td style="width:16%;"><button class="btn btn-sm btn-1">Schedule</button> <button class="btn btn-sm btn-1">Transcript</button></td></tr>');
            }
          }
          $(".loader").css("visibility","hidden");
        }
      });
    }
    //------------------Filter by member ID------------------//
    $("#searchMemberIDs").on("keyup", function() {
      var value = $(this).val();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").text();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
    //------------------Filter by member firstName------------------//
    $("#searchMemberFNames").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").next().text().toLowerCase();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
    //------------------Filter by member lastName------------------//
    $("#searchMemberLNames").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").next().next().text().toLowerCase();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
    //------------------Filter by member council------------------//
    $("#searchMemberCouncils").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").next().next().next().text().toLowerCase();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
    //------------------------------------//
    // function searchMemberID(){
    //   var ID = $("#searchInput").val();
    //   if(ID != ""){
    //     $(".loader").css("visibility","initial");
    //     $.ajax({
    //       dataType: "json",
    //       url: "/api/members",
    //       data: {memberID: $("#searchInput").val(), memberData: true},
    //       success:  function(data){
    //         if(data.length > 0){
    //           $("#scheduleTbody").html("");
    //           $("#rowCount").html(data.length);
    //           for(var i = 0; i < data.length; i++){
    //             $("#userID").html(data[i].memberID);
    //             $("#fname").html(data[i].firstName);
    //             $("#lname").html(data[i].lastName);
    //             $("#scheduleTbody").append("<tr><td>"+data[i].date+" "+data[i].time+"</td><td>"+data[i].course+"</td><td>"+data[i].instructor+"</td><td>"+data[i].location+"</td><td>"+data[i].delivery+'</td><td class="ACL"><button class="btn btn-sm btn-1">Edit</button><button class="btn btn-sm btn-2 disabled">Del</button></td></tr>');
    //           }
    //           $(".loader").css("visibility","hidden");
    //         }else{
    //           $("#scheduleTbody").html("");
    //           $("#userID").html("__________");
    //           $("#fname").html("__________");
    //           $("#lname").html("__________");
    //           $("#rowCount").html(data.length);
    //           $("#scheduleTbody").append('<tr><td colspan="6"><h4 style="color:#CE1126;"><strong>'+data.length+' records returned for member ID '+ID+'</strong></h4></td></tr>');
    //           $(".loader").css("visibility","hidden");
    //         }
    //       }
    //     });
    //     $("#searchInput").css("background-color", "white");
    //     $("#searchInput").attr("placeholder", "Search Member ID");
    //   }else{
    //     $("#searchInput").css("background-color", "pink");
    //     $("#searchInput").attr("placeholder", "Cannot Be Empty");
    //   }
    // }
  </script>
<%- include footer %>