<%- include header %>
  <div class="container main-body">
    <div class="row text-center">
      <div class="col">
        <ul class="nav nav-tabs" style="color:#003F87;font-weight: bold;">
          <li class="nav-item" id="CurrentMemberTab">
            <a class="nav-link active" id="CurrentMemberBtn">Current Members</a>
          </li>
          <li class="nav-item" id="CreateMemberTab">
            <a class="nav-link" id="CreateMemberBtn">Create Member</a>
          </li>
          <li class="nav-item" id="ReportsTab">
            <a class="nav-link" id="ReportsBtn">Reports</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" id="Tab01" style="display: initial;">
      <div class="col">
        <table class="mx-auto table table-sm text-center" style="margin-bottom: 0px;">
          <tr>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberIDs" aria-describedby="Search" placeholder=" Filter by ID">
            </td>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberFNames" aria-describedby="Search" placeholder=" Filter by First Name">
            </td>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberLNames" aria-describedby="Search" placeholder=" Filter by Last Name">
            </td>
            <td>
              <input type="text" autocomplete="NOPE" class="form-control form-control-sm mx-auto text-center" id="searchMemberCouncils" aria-describedby="Search" placeholder=" Filter by Council">
            </td>
            <td class="font-weight-bold align-middle"><span id="rowCount"></span> Members Found </td>
          </tr>
        </table>
        <table id="Members" class="mx-auto table table-hover table-sm text-center">
          <thead class="thead-dark">
            <tr>
              <th>Member ID</th><th>First Name</th><th>Last Name</th><th>Council</th><th class="sorttable_nosort">Records</th>
            </tr>
          </thead>
          <tbody id="MembersTbody">
          </tbody>
        </table>
        <div class="loader loader2"></div>
      </div>
    </div>
    <div class="row" id="Tab02" style="display: none;">
      <div class="col text-center" style="padding-top: 20px;">
        <h4>Create Member Profile</h4>
        <form class="mx-auto">
          <div class="form-row mx-auto">
            <div class="col-md-3 mb-2 mx-auto">
              <input type="text" class="form-control" autocomplete="NONE" id="validationDefault01" placeholder="Member ID" required>
            </div>
          </div>
          <div class="form-row mx-auto">
            <div class="col-md-3 mb-2 mx-auto">
              <input type="text" class="form-control" autocomplete="NONE" id="validationDefault02" placeholder="First name" required>
            </div>
          </div>
          <div class="form-row mx-auto">
            <div class="col-md-3 mb-2 mx-auto">
              <input type="text" class="form-control" autocomplete="NONE" id="validationDefault03" placeholder="Last name" required>
            </div>
          </div>
          <div class="form-row mx-auto">
            <div class="col-md-3 mb-2 mx-auto">
              <input type="text" class="form-control" autocomplete="NONE" id="validationDefault04" placeholder="Council" required>
            </div>
          </div>
          <div class="form-row mx-auto">
            <div class="col-md-3 mb-2 mx-auto">
              <input type="text" class="form-control" autocomplete="NONE" id="validationDefault05" placeholder="Permission Level" required>
            </div>
          </div>
          <button class="btn btn-1" type="submit" style="width: 150px;">Submit</button>
        </form>
      </div>
    </div>
    <div class="row" id="Tab03" style="display: none;">
      <div class="col text-center" style="padding-top: 20px;">
        <h4>Admins Reports</h4>
      </div>
    </div>
  </div>
  <script>
    //-----------------Navigation Tabs----------//
    $(document).ready(function(){
      //-----------------Tabs 01----------//
      $("#CurrentMemberBtn").click(function(){
        $("#Tab01").show();$("#Tab02").hide();$("#Tab03").hide();
        $("#CurrentMemberBtn").addClass("active");$("#CreateMemberBtn").removeClass("active");$("#ReportsBtn").removeClass("active");
      });
      //-----------------Tabs 02----------//
      $("#CreateMemberBtn").click(function(){
        $("#Tab01").hide();$("#Tab02").show();$("#Tab03").hide();
        $("#CurrentMemberBtn").removeClass("active");$("#CreateMemberBtn").addClass("active");$("#ReportsBtn").removeClass("active");
      });
      $("#ReportsBtn").click(function(){
        //-----------------Tabs 03----------//
        $("#Tab01").hide();$("#Tab02").hide();$("#Tab03").show();
        $("#CurrentMemberBtn").removeClass("active");$("#CreateMemberBtn").removeClass("active");$("#ReportsBtn").addClass("active");
      });
    });
    //-----------------popups-------------------//
    function popupSchedule(id){
      var popup = window.open('/popupSchedule?id='+id, '', 'height=900, width=1200');
      popup.document.close();
    }
    //------------------------------------//
    function popupTranscript(id){
      var popup = window.open('/popupTranscript?id='+id, '', 'height=900, width=1200');
      popup.document.close();
    }
    $("document").ready(function(){
      GETMemberID();
    });
    //------------------------------------//
    function GETMemberID(){
      $(".loader").css("visibility","initial");
      $.ajax({
        dataType: "json",
        url: "/api/members",
        data: {},
        success:  function(data){
          if(data.length > 0){
            $("#MembersTbody").html("");
            $("#rowCount").html(data.length);
            for(var i = 0; i < data.length; i++){
              $("#MembersTbody").append("<tr><td>"+data[i].memberID+"</td><td>"+data[i].firstName+"</td><td>"+data[i].lastName+"</td><td>"+data[i].councilName+'</td><td style="width:16%;"><button class="btn btn-sm btn-1" onClick="popupSchedule(\''+data[i]._id+'\')">Schedule</button> <button class="btn btn-sm btn-1" onClick="popupTranscript(\''+data[i]._id+'\')">Transcript</button></td></tr>');
            }
          }
          $(".loader").css("visibility","hidden");
        }
      });
    }
    //------------------Filter by member ID------------------//
    $("#searchMemberIDs").on("keyup", function() {
      var value = $(this).val();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").text();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
    //------------------Filter by member firstName------------------//
    $("#searchMemberFNames").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").next().text().toLowerCase();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
    //------------------Filter by member lastName------------------//
    $("#searchMemberLNames").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").next().next().text().toLowerCase();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
    //------------------Filter by member council------------------//
    $("#searchMemberCouncils").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#MembersTbody tr").each(function(index) {
        $row = $(this);
        var id2 = $row.find("td:first").next().next().next().text().toLowerCase();
        if (id2.search(value) != 0) { $row.fadeOut();} else {$row.fadeIn();}
      });
    });
  </script>
<%- include footer %>