<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %>'s Transcript</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Transcript</h1>
    <p>Username: <%= user.username %></p>
    <ul>
        <% for(var i=0; i<transcript.length; i++) { %>
            <li><%= JSON.stringify(transcript[i]) %></li>
        <% } %>
    </ul>

  </body>
</html>
